<section class="bg-triangles bg-gradient-primary overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left">
        <div class="section">
          <h2 class="section-title text-white" data-aos="fade-up">Download Agico Now</h2>
          <p class="text-white mb-4" data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
          <ul class="list-inline">
            <li class="list-inline-item mb-3 mb-lg-0">
              <a class="btn btn-white" href="#" data-aos="zoom-in" data-aos-delay="400"><img src="images/icon/001-google-play.png" class="img-fluid mr-2" alt>Google Play</a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-outline-white" href="#" data-aos="zoom-in" data-aos-delay="500"><i class="fa fa-apple mr-2"></i> app store</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 align-self-end" data-aos="fade-left" data-aos-delay="600">
        <img src="images/download-mobile-img.jpg" class="img-fluid w-100" alt="mobile-screen">
      </div>
    </div>
  </div>
</section>