<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
  <h4 class="subtitle" data-aos="fade-up">Pricing table</h4>
  <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">choose your plan</h2>
</div>
<div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-aos="fade-up">
  <div class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
    <span class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Basic</span>
    <div class="h1 text-dark">$49<span class="paragraph text-lowercase"> / mo</span></div>
    <h5 class="mb-4 font-weight-normal text-color">Best for small individuals</h5>
    <hr>
    <ul class="list-unstyled my-4">
      <li class="my-3">Express Service</li>
      <li class="my-3">Customs Clearance</li>
      <li class="my-3">Time-Critical Services</li>
    </ul>
    <a href="#" class="btn btn-outline-primary">select plan</a>
  </div>
</div>
<div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="200">
  <div class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
    <span class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Professional</span>
    <div class="h1 text-dark">$79<span class="paragraph text-lowercase"> / mo</span></div>
    <h5 class="mb-4 font-weight-normal text-color">Best for standard individuals</h5>
    <hr>
    <ul class="list-unstyled my-4">
      <li class="my-3">Express Service</li>
      <li class="my-3">Customs Clearance</li>
      <li class="my-3">Time-Critical Services</li>
    </ul>
    <a href="#" class="btn btn-outline-primary">select plan</a>
  </div>
</div>
<div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="400">
  <div class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
    <span class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Business</span>
    <div class="h1 text-dark">$129<span class="paragraph text-lowercase"> / mo</span></div>
    <h5 class="mb-4 font-weight-normal text-color">Best for large individuals</h5>
    <hr>
    <ul class="list-unstyled my-4">
      <li class="my-3">Express Service</li>
      <li class="my-3">Customs Clearance</li>
      <li class="my-3">Time-Critical Services</li>
    </ul>
    <a href="#" class="btn btn-outline-primary">select plan</a>
  </div>
</div>
    </div>
  </div>
</section>