<section class="section pb-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2" data-aos="fade-right">
        <p class="subtitle" data-aos="fade-right">about agico</p>
        <h2 class="section-title" data-aos="fade-right" data-aos-delay="200">Rehenderit volupate velit proident sunt culpa</h2>
        <p class="mb-4" data-aos="fade-right" data-aos-delay="300">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud
          exercitation ullamco laboris nisi aliquip commodo consequat. duis aute.</p>
        <a href="about.html" class="btn btn-outline-primary" data-aos="fade-right" data-aos-delay="500">read more</a>
      </div>
      <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
        <img src="images/about/about-2.png" class="img-fluid w-100" alt="about-2" data-aos="fade-left">
      </div>
    </div>
  </div>
</section>