<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle" data-aos="fade-up">Features</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">exclusive features</h2>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up">
        <div class="text-center position-relative px-4 py-5 rounded-lg shadow card-active">
          <img src="images/feature/feature-1.png" class="img-fluid" alt="feature-image">
          <h5 class="pt-5 pb-3 text-capitalize card-title">No Setup</h5>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore
            magna.</p>
          <a class="btn btn-outline-primary" href="#">read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="200">
        <div class="text-center position-relative px-4 py-5 rounded-lg shadow">
          <img src="images/feature/feature-2.png" class="img-fluid" alt="feature-image">
          <h5 class="pt-5 pb-3 text-capitalize card-title">free trail</h5>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore
            magna.</p>
          <a class="btn btn-outline-primary" href="#">read more</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-delay="400">
        <div class="text-center position-relative px-4 py-5 rounded-lg shadow">
          <img src="images/feature/feature-3.png" class="img-fluid" alt="feature-image">
          <h5 class="pt-5 pb-3 text-capitalize card-title">optimized data</h5>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore
            magna.</p>
          <a class="btn btn-outline-primary" href="#">read more</a>
        </div>
      </div>
    </div>
  </div>
</section>