<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline d-flex justify-content-between py-3 py-lg-5 border-bottom align-items-center">
          <li class="list-inline-item" data-aos="fade-right" data-aos-delay="100"><img class="img-fluid p-2" src="images/partner/client-logo-1.png" alt="partner-1"></li>
          <li class="list-inline-item" data-aos="fade-right" data-aos-delay="200"><img class="img-fluid p-2" src="images/partner/client-logo-2.png" alt="partner-2"></li>
          <li class="list-inline-item" data-aos="zoom-in"><img class="img-fluid p-2" src="images/partner/client-logo-3.png" alt="partner-3"></li>
          <li class="list-inline-item" data-aos="fade-left" data-aos-delay="100"><img class="img-fluid p-2" src="images/partner/client-logo-4.png" alt="partner-4"></li>
          <li class="list-inline-item" data-aos="fade-left" data-aos-delay="200"><img class="img-fluid p-2" src="images/partner/client-logo-5.png" alt="partner-5"></li>
        </ul>
      </div>
    </div>
  </div>
</section>