<section class="section pb-0 overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-5 text-center text-md-left mb-4 mb-md-0">
        <img src="images/about/about-1.png" class="img-fluid" alt="about-image" data-aos="fade-right">
      </div>
      <div class="col-lg-6 col-md-7 text-center text-md-left">
        <p class="subtitle" data-aos="fade-left">about agico</p>
        <h2 class="section-title" data-aos="fade-left" data-aos-delay="200">Eausmod tempor magna nostrud exercitation</h2>
        <p class="mb-4" data-aos="fade-left" data-aos-delay="300">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud
          exercitation ullamco laboris nisi aliquip commodo consequat. duis aute.</p>
        <a href="about.html" class="btn btn-outline-primary" data-aos="fade-left" data-aos-delay="500">read more</a>
      </div>
    </div>
  </div>
</section>